<section class="container">
  <div class="card">
    <div class="card-container">
      <div class="card-prompt-heading">
        <p>DataView</p>
        <button
          mat-mini-fab
          color="accent"
          class="floating-button"
          aria-label="Floating Button"
          (click)="toggleDataVisibility()"
        >
          <mat-icon>{{ icon }}</mat-icon>
        </button>
      </div>
      <div class="card-prompt-wrap" *ngIf="showData">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef>Cost</th>
            <td mat-cell *matCellDef="let element">
              {{ element.cost | currency }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <div *ngIf="!showData" class="card-prompt-nolist">Hidden information</div>
    </div>
  </div>
  <div class="footer">
    Created by
    <a
      href="https://github.com/Juancalero01/angular-xacademy"
      class="footer-link"
      target="_blank"
      >Juan</a
    >
  </div>
</section>
